.banners-outer {
  @include flex(row, flex-start, stretch);
  width: 100%;
  margin: 0 auto 0 auto;
  overflow: hidden;
  position: relative;

  .arrow {
    @include position-absolute(0, auto, auto, auto);
    @include no-select();
    height: 100%;
    width: 160px;
    font-size: $font-xxl * 6/3;
    font-weight: bold;
    z-index: 2;
    color: $main-color;
    text-shadow: 0 0 2px $gray-3;
    cursor: pointer;

    &.left-arrow {
      @include flex(row, center, center);
      left: 0;
    }
  
    &.right-arrow {
      @include flex(row, center, center);
      right: 0px;
    }
  }

  .banners-inner {
    @include flex(row, flex-start, stretch);
    width: 100%;

    .banner-element{ 
      @include flex(row, center, center);
      @include no-select();
      background-color: $gray-e3;
      height: 300px;
      min-width: 100%;
    }
  }
}