.cart-icon-outer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  transform: scale(1);
  transition: .3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    transition: .3s;
  }

  .cart-icon {
    padding: 6px;
    font-size: 35px;
  }

  .cart-icon-qunatity {
    display: flex;
    position: absolute;
    z-index: 2;
    width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    border: 1px solid #c4c4c4;
  }
}